.div_relogio{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  background-color: rgba(213, 19, 19, 0.647);
  color:black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3.4rem;
}